[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
h5py = "*"
numpy = "==1.23.0"
tensorflow = "==2.10.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
